{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ link }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="{% static 'img/ikon.png' %}" rel="ikon">
  <link href="{% static 'img/ikon.png' %}" rel="ikon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">


  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <header id="header" >
      
    <div class="container">
        
      <div id="logo" class="pull-left">
        <a href="{% url 'home_hy' %}" class="scrollto"><img src="{% static 'img/logo.png' %}"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
        <li><a href="{% url 'home_hy' %}">Գլխավոր</a></li>
        <li><a href="{% url 'mijin_hy' %}">Կրթություն</a>
          <ul class="sub_menu">
            <li><a href="{% url 'mijin_hy' %}"> Ստորաբաժանումներ</a></li>
            <li><a href="{% url 'ashxatakazm_hy' %}"> Աշխատակազմ</a></li>
          </ul>
        </li>
      <li><a href="{% url 'dimord_hy' %}">ՈՒսանող</a>
        <ul class="sub_menu">
          <li><a href="{% url 'dimord_hy' %}"> Դիմորդ</a></li>
          <li><a href="{% url 'download_hy' %}">  Օնլայն Գրադարան</a></li>
        </ul>
      </li>

      <li>
        <a href="{% url 'contact_hy' %}">Կապ</a>

      </li>

        
          <li><a href="{% url 'home_en' %}">Փոխել Լեզուն</a>
            <ul class="sub_menu">
                <li><a href="{% url 'home_hy' %}"><img src="\media\Flags\Armenia.png" alt="" width="25">    Հայերեն</a></li>
                <li><a href="{% url 'home_en' %}"><img src="\media\Flags\english.png" alt="" width="25">    English</a></li>

            </ul>
        </li>
        </ul>
      </nav>
    </div>
  </header>
  {% block content %}





    {% endblock %}
    <footer id="footer">
      <div class="footer-top">
       
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>VSC</strong>. Բոլոր իրավունքները պաշտպանված են
        </div>
        <div class="credits">
  
        </div>
      </div>

        
        
        
        <script src="{% static 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js' %}"></script>
        <script src="{% static 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js' %}"></script>
        <script src="{% static 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js' %}"></script>
        
    
        
        
        
        
        
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>



  <script src="{% static 'contactform/contactform.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>








      
      
</body>
        

</html>
  