{% extends 'base.html' %}
{% block content %}
  <style>
    /* Basic styling for demonstration purposes */
    form {
      width: 60%;
      margin: 80px auto; /* Added margin */
      background-color: #b8b4b4;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
    }
    input:focus, textarea:focus {
      border-color: #eb6bc2;
    }
    button {
      background-color: #d157a6;
      color: white;
      padding: 12px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      outline: none; /* Remove default button outline */
    }
    button:hover {
      background-color: #45a049;
    }
    .fa {
      margin-right: 10px;
    }
    h1 {
      text-align: center;
      color: #333333;
    }
  </style>
</head>
<body style="background-color: #928d8d;">
<form action="#" method="post">
  {% csrf_token %}
  <label for="name" style="color: aliceblue;">Անուն Ազգանուն</label>
  <input type="text" id="name" name="name" required>

  <label for="subject" style="color: aliceblue;">Ենթատեքստ</label>
  <input type="text" id="subject" name="subject" required>

  <label for="message" style="color: aliceblue;">Հաղորդագրություն</label>
  <textarea id="message" name="message" rows="4" required></textarea>

  <button type="submit">ՈՒղարկել</button>
</form>

</body>
</html>

{% endblock %}